.landing{
    background-image: url('https://www.kinoki.es/wp-content/uploads/2022/07/shutterstock_674662279FILEminimizer.jpg');
     width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: table;
    margin: 0;
    top: 0;  
    background-attachment: fixed;

}
.acceso {
    font-size: 16px;
    text-decoration: none;
    margin-top: 370px;
    margin-left:190px;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    background:rgb(37, 87, 253);
    cursor: pointer;
}
.acceso:hover{
    transition: 0.2s;
    border: none;
    background:rgb(31, 75, 223);
}

.Ltitulo{
    letter-spacing: 3px;
  padding: 20px;
  width: 400px;
  font-size: 25px;
  margin: 5px;
  color: rgb(255, 255, 255);
  box-shadow:   0 0 15px;
  background: rgb(37, 87, 253);;
  position: absolute;
  margin-left:300px;
  border-radius: 10px;
  top: 110px;
}



.Ltitulos{
    font-size: 16px;
    text-decoration: none;
    margin-top: 370px; 
    margin-left:190px;
    padding: 5px 10px;
    color: rgb(255, 255, 255); 
    border: none; 
    border-radius: 4px; 
    background:rgb(37, 87, 253); 
     cursor: pointer;

}