.landing{

    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    height: 100vh;

}
.acceso {
    font-size: 40px;
    text-decoration: none;
    margin-top: 300px;
    margin-left:280px;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(58, 102, 248) 0%, rgb(31, 75, 223) 35%, rgb(58, 102, 248) 100%);
    cursor: pointer;
    transition: all 1s;
    box-shadow: -10px 10px 20px rgb(41, 41, 41);
}
.acceso:hover{
    border: none;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
}
.acceso:hover span:after {
    opacity: 1;
    right: 0;
  }
.acceso:hover span{
    padding-right: 25px;
}
.acceso span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.acceso span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.Ltitulo{
    letter-spacing: 3px;
  padding: 20px;
  width: 400px;
  font-size: 25px;
  margin: 5px;
  color: rgb(255, 255, 255);
  box-shadow: -15px 15px 20px rgb(41, 41, 41);
  background: linear-gradient(90deg, rgb(58, 102, 248) 0%, rgb(31, 75, 223) 35%, rgb(58, 102, 248) 100%);
  position: absolute;
  margin-top: 10px;
  margin-left:190px;
  border-radius: 10px;
  top: 110px;
}



.Ltitulos{
    font-size: 16px;
    text-decoration: none;
    margin-top: 350px; 
    margin-left:190px;
    padding: 5px 10px;
    color: rgb(255, 255, 255); 
    border: none; 
    border-radius: 4px; 
    background:rgb(37, 87, 253); 
     cursor: pointer;

}
.zapasLanding{
    height: 300px;
    width: 400px;
    left: 450px;
    top: -200px;
    position: relative;
    animation-name: corriendo;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes corriendo {
    0%{left: 350px;top: -100px;}
    25%{left: 300px;top: -55px}
    50%{left: 200px;top: -100px;}
    75%{left: 300px;top: -55px}
    100%{left: 350px;top: -100px;}
}