.OrderUsertitulo{
    letter-spacing: 3px;
  padding: 20px;
  width: 400px;
  font-size: 30px;
  margin: 30px;
  color: rgb(0, 0, 0);
  box-shadow:   0 0 15px;
  position: flex;
  margin-left:150px;
  border-radius: 10px;
  top: 110px;
  background: rgba(203, 203, 203, 0.801);
}

.estrcOrderUsuario{
   
    padding: 20px;
    width: 35cm;
    font-size: 30px;
    margin: 50px;
    color: rgb(0, 0, 0);
    box-shadow:   0 0 15px;
    position:flex;
    margin-left:100px;
    margin-bottom: 5px;
    border-radius: 10px;
    top: 30px;
    background: rgba(203, 203, 203, 0.801);
}