.estrucUserDash{
    background-color: rgba(106, 106, 106, 0.832);
    
}
.config{
    width: 400px;
    height: 500px;
display: absolute;  
}
.listadoUsers{
    padding-top: 10px;
    margin-left: 18%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
}

input[type="cargarZapa"]{
    width: 25%;
    height: 50px;
    border: 1px solid;
    margin-top: 1%;
    text-align: center;

    background: #007bff;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="cargarZapa"]:hover{
    border-color: #2691d9;
    transition: .5s;
  }
  
