.btnBuy{
    justify-content: center;
}

div.scroll {
    /* background-color: #fed9ff; */
    /* width: 600px; */
    height: 860px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
  }